#game div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(0, 0, 0);
  width: 10%;
  border-radius: 20px;
  height: 200px;
  margin: 10px;
  padding: 40px;
  display: inline-block;
}

div {
  display: flex;
  justify-content: center;
  border-radius: 25px;
}

h1 {
  display: flex;
  font-size: 3rem;
  justify-content: center;
}